.row1,.row2,.row3 {
    display: flex;
    white-space: nowrap;
    height: 300px;
    
    background-color: dimgrey;
}

    /* .column1,.column2,.column3 {
        width: 300px
    } */

div[class*='cell'] {
    width: 300px;
}



div[class*='-read'] {color:blue; }
div[class*='-read '] {text-decoration:line-through;}
div[class*='mark-as'] {font-style:italic; }
.otherClass {font-size:200%;}